.centerImage {
   margin: auto;
   display: block;
   width: 30%;
   height: 200px;
}
.centerFooter {
    
    text-align: center;
    margin: auto;
    display: block;
}
/* .textCenter {
    text-align: center;
    margin: auto;
    display: block;
} */

.border-none {
  border: none !important;
}

.center-horizontally {
  display: grid;
  justify-content: center;
}
