// Create a new file called env.json with the following content:

// <ENVIROMENT_VARIABLE_NAME> example: SAPUI5_URL
// <ENVIROMENT_VARIABLE_VALUE> example: https://sapui5.hana.ondemand.com/1.40.10/resources/sap-ui-core.js
{
  "SAPUI5_<ENVIROMENT_VARIABLE_NAME>": "<ENVIROMENT_VARIABLE_VALUE>"
}